{% extends "layout.html" %}

{% block content %}

{% if post %}

    <article>
        <h2>{{ post.title }}</h2>
        <p><small>Published: {{ post.created_at }}</small></p>

        <p>{{ post.body }}</p>

        <p>
            <a href="/posts/{{ post.id }}/edit">Edit post</a>
        </p>
        <form action="/posts/{{ post.id }}/delete" method="POST">
            <button type="submit">Delete post</button>
        </form>

    </article>

{% else %}

    <p>Post not found.</p>

{% endif %}

{% endblock %}